
    Beobachtungen inkl. Diagnosen
    
    <div class="float-right">
         <div class="buttons small ">
            <a class="printlink"  href="{% url "pupil-print_statistic" pupil_id=pupil.id subject_id=subject.id grade_id=grade.id %}">Druckansicht</a>
         </div>
        <br/>
    
        {% include "gsaudit/skill_legend.html" %}
    </div>
   
   <br/> <br/> 
   <input type="checkbox"  id="show-rated-only"> 
   <label for="show-rated-only"><a>Nur bewertete anzeigen</a></label>
     
    <div id="distribution-plot-container">
        <div class="plot-headline"></div>
        <div id="distribution-plot"></div>
    </div>
    
    <div id="pupil-stats">
        {% for skill_group in skill_graph.skill_groups %}
        
            {% if skill_group.is_headline %} 
                <h1>{{ skill_group.skill }}</h2>
            {% else %}       
                <div class="listbox">
                    <div class="listbox-headline">{{ skill_group.group }}</div>
                    <div class="listbox-content">
                        {% for skill in skill_group.skills %}
                            <div class="listbox-item" data-skill-development="{{ skill.development_json }}">{{ skill.skill_tag }} {{ skill.development_sparkline }}</div>
                        {% endfor %}
                    </div>
                 </div>   
            {% endif %}
            
       
        {% endfor %}
    </div>
    <style>
        #distribution-plot #jqchart { height:150px;}
    </style>
    
   
    
    <script>
    
    $(function() {
        
        function apply_skill_filter(){
            if ($('#show-rated-only:checked').length ) {
                $('.listbox-item.no-data-yet').hide()
            } else {
                $('.listbox-item.no-data-yet').show()
            }
        }
        //apply_skill_filter() 
        
        $('#show-rated-only').click(function() {
            apply_skill_filter()            
        })
        
    
    
    
    
    $('.inlinesparkline').each(function() {
            var elem = $(this);
            if (!$.trim(elem.text())) {
                elem.parent().addClass('no-data-yet')
                apply_skill_filter()   
                elem.parent().attr('title', 'Noch keine Daten vorhanden')
            } else {
                var ts = []
                var sum = 0
                var distribution = [0,0,0,0,0]
                var raw = elem.text().split(',')
                $.each(raw, function(index, value) {
                    var intval = parseInt(value);
                    ts.push(intval)
                    sum += intval
                    distribution[intval + 2]++
                })
                
                var avg = sum / ts.length;
                var avg_text;
                if (avg < -1.7) {
                    avg_text = '--';
                } else if (avg < -1.3) {
                    avg_text = '--/-';
                } else if (avg < -0.7) {
                    avg_text = '-';
                } else if (avg < -0.3) {
                    avg_text = '-/o';
                } else if (avg < 0.3) {
                    avg_text = 'o';
                } else if (avg < 0.7) {
                    avg_text = '0/+';
                } else if (avg < 1.3) {
                    avg_text = '+';
                } else if (avg < 1.7) {
                    avg_text = '+/++';
                } else if (avg < 5) {
                    avg_text = '++';
                }
                
                elem.parent().hover(
                    function() {
                        //plot_distribution(li, distribution, avg_text);
                        $('#distribution-plot').empty();
                        $('#distribution-plot-container').show();
                        var skill_dev = JSON.parse($(this).attr('data-skill-development'))
                        gsaudit.plots.skill_development('distribution-plot', skill_dev)
                        $('#distribution-plot-container .plot-headline').html($(this).text())
                        $(this).addClass('hover')
                    },
                    function() {
                        $('#distribution-plot-container').hide()
                        $(this).removeClass('hover')
                    }
                );
                elem.sparkline('html', {
                    type: 'bar',
                    zeroAxis: true,
                    chartRangeMin: -2,
                    chartRangeMax: 2,
                    height:30,
                    barColor: '#1e9817',
                    negBarColor: '#BB0014',
                    zeroColor: '#999'
                });
            }

        });
    });
    
    
    
    
    var gsk = {}
    gsk.stats = {}
    
    gsk.stats.SeriesFormatter = function(values) {
    
        var self = {}
        self.data = {
            values: [],
            distribution: [],
            avg_text: null
        }
        
        
        self.init = function(values) {
            $.each(values, function(index, value) {
                var intval = parseInt(value);
                self.data.ints.push(intval)
                sum += intval
                self.datadistribution[intval + 2]++
            })
            
            var avg = sum / ts.length
            if (avg < -1.7) {
                self.data.avg_text = '--'
            } else if (avg < -1.3) {
                self.data.avg_text = '--/-'
            } else if (avg < -0.7) {
                self.data.avg_text = '-'
            } else if (avg < -0.3) {
                self.data.avg_text = '-/o'
            } else if (avg < 0.3) {
                self.data.avg_text = 'o'
            } else if (avg < 0.7) {
                self.data.avg_text = '0/+'
            } else if (avg < 1.3) {
                self.data.avg_text = '+'
            } else if (avg < 1.7) {
                self.data.avg_text = '+/++'
            } else if (avg < 5) {
                self.data.avg_text = '++'
            }
            return self
        }        
              
        self.get_values = function() {
            return self.data.values
        }
        
        self.get_distribution = function() {
            return self.data.distribution
        }
        
        self.get_avg_text = function() {
            return self.data.avg_text
        }
        
        
        return self
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    </script>
