
#mainbar {width:100%; z-index:111; border-bottom:0px solid #ddd;}

#left {position:fixed; margin-top:-11px;}
#right {margin-left: 200px; margin-top:68px; padding-left:22px; padding-top:8px;}


.current-ta a {text-decoration:none;}

.mainbar-tabs {}

#selected-grade {font-weight:bold; background:#333; color:#fff; min-width:100px;}

#user-tools {float:right;}
#user-tools a {display:block; text-decoration:none; padding:5px; border-bottom:1px solid #ddd; border-left:1px solid #ddd;}



#mainbar {position:fixed; top:0px;
    -webkit-transition: all 2 ease;
    -moz-transition: all 2 ease;
    -ms-transition: all 2 ease;
    -o-transition: all 2 ease;
    transition: all 2 ease;
}

/* GLOBAL NAVIGATION
--------------------------------------------------------------------------------------------------*/
    #global-nav {float:right; background:#666;}
    #global-nav a {
        width:60px; height:55px; display:block; float:left; 
        background:url(http://cdn2.iconfinder.com/data/icons/picons-essentials/57/logout-32.png) center no-repeat;
    }
    #global-nav a:hover {background-color: #4d4d4d !important;}
    a#logo {background: url(gsk_logo.png) center no-repeat; border-left:0px; }  
    a#myaccount {background: url(User-2.png) center no-repeat; }  
    a#dashboard {background: url(Documents.png) center no-repeat; }
    a#admin {background: url(screen.png) center no-repeat; }  
    a#logout {background: url(Exit.png) center no-repeat; } 
    a#help {background: url(help.png) center no-repeat; }



/* GLOBAL NAVIGATION
--------------------------------------------------------------------------------------------------*/
.page {padding:88px 4px 22px 22px;}


/* SIDE MENU
-----------------------------------------*/

    .side-menu {border-right: 1px solid #ddd; background:#eee; overflow-y: scroll ; }
    .side-menu a.active {background:#fff; margin-right:-1px; font-weight:bold;width: 156px; }
    .side-menu a.active:hover {background:#fff;}

    .side-menu h3 {padding:10px; background:#fff;font-style:italic; margin:0px;  
        border-bottom:1px solid #eee; border-top:5px solid #fff;
        font-size:17px;}
    .side-menu a {
        border-bottom: 1px solid #ddd; border-top:1px solid #fff;
        padding:16px 8px 16px 20px;  display:block;font-size:14px;
        color: #666666; text-decoration:none; 
    }

    .side-menu a:hover {text-decoration:underline}
    .side-menu-pupils a {  padding:8px 8px 8px 20px; font-size:12px;}


/* DASHBOARD
-----------------------------------------*/

.dashboard-menu a {padding:12px; font-size:16px; line-height:1.4;}
.dashboard-menu a:hover {background:#fff;}



/* Styles
--------------------------------------------------------------------------------------------------*/

    h1 {font-size:28px; font-weight:normal; margin-bottom:20px;}
    h2 {font-size:25px; font-weight:normal; margin-bottom:10px;}
    body {font-size:13px;}











