<ul>
    <li><a href="/admin/" >Übersicht</a></li>

    <li>
        <h3>Lehrbetrieb</h3>
        <ul>
            <a href="/admin/gsaudit/grade/" >Klassen</a>
            <a href="/admin/gsaudit/pupil/" >Schüler</a>
            <a href="/admin/gsaudit/teacher/" >Lehrer</a>
            <a href="/admin/gsaudit/skilltrees/" >Kompetenzbäume</a>
        </ul>
    </li>
    <!--li>
        <h3>Import</h3>
        <ul>
            <a href="/admin/" >Schüler-Liste</a>
            <a href="/admin/" >Lehrer-Liste</a>
            <a href="/admin/" >Klassen-Liste</a>
        </ul>
    </li>
    <li>
        <h3>Verwaltung</h3>
        <ul>
            <li><a href="/admin/" >Schul-Account</a></li>
        </ul>
    </li -->
</ul>
