{% extends "base.html" %}
{% load i18n %}


{% block bodyclass %}course-views{% endblock %}
{% block tabs %}
        <a id="selected-grade" href="/">{% block position%}{{grade}} | {{ subject }} {% endblock %}</a>
        <a href="{% url "audit-listing" grade_id=grade.id subject_id=subject.id %}" {% if audit_view %} class="active" {% endif %} >Beobachtungen</a>
        <a href="{% url "course-subject_statistics" grade_id=grade.id subject_id=subject.id %}" {% if subject_statistic_view %} class="active" {% endif %} >Klassenstatistik</a>
{% endblock %}

{% block content %}
   
            
    <div id="left" >
       
        <div class="side-menu">
            {% block side_menu %}
            <a href="{% url "course-index" grade_id=grade.id subject_id=subject.id %}" {% if course_dashboard %} class="active" {% endif %}>Übersicht</a>
            <div style="padding:22px; background:#fff;">Schülerinnen & Schüler</div>
            <div class="side-menu-pupils">
                {% for participant in grade.get_participants %}
		            <a href="{% url "pupil-statistic" grade_id=grade.id subject_id=subject.id pupil_id=participant.id %}" class="pupil-participant.gender {% if participant.id == pupil.id %}active{% endif %} " >{{ participant }}</a>
                {% endfor %}
            </div>
            {% endblock %}
        </div>
    </div>

    <div id="right">
        {% block course_content %} {% endblock %}
    </div>

    <div class="clear"></div>

<script>
$(function() {
    $('.side-menu').css('height', $(window).height()-100)
    $('#right').css('min-height', $(window).height() + 100)
    
    
    var sg = $('#selected-grade')
    var content = sg.html()
    sg.empty()
    
    var location = $('<div>' + content + '</div>')
    var back = $('<div style="display:none">Zurück zur Übersicht</div>')
    sg.append(location)
    sg.append(back)
    
    sg.hover(function() {
        location.effect('clip', 100, function() {
            back.show(100)
        })
    }, function() {
        back.effect('clip', 100, function() {
            location.show(100)
        })
    })
    
    
})

    
</script>

{% endblock %}
