

{% extends "gsaudit/course/frame.html" %}
{% load i18n %}
{% load gsaudit_tags %}

{% block course_content %}



<h1>Kompetenzentwicklung</h1>
<table class="subject-stats" style="width: 100%;">
	<thead>
		<tr>
			<th>Schüler</th>
			{% for cat in categories %}
			<th>{{ cat.cat.name }} ({{ cat.cat.weight }}%)</th>
			{% endfor %}
			<th>Errechnete Gesamtnote</th>
		</tr>
	</thead>
	<tbody>
		{% for stat in subject_stats %} 
			<tr class="audit">
				<td>{{ stat.info.pupil.last_name }}, {{ stat.info.pupil.first_name }}</td>
				{% for cat in stat.evaluation.categories %}
				<td>            
					{% if cat.avg != -1 %}
	                	{{ cat.avg|display_grade }}
		            {% else %}
		                -
		            {% endif %}
		        </td>
				{% endfor %}
				<td>
					{% with total_rating=stat.evaluation.total_rating %}
				    {% if total_rating != -1 %}
				        {{ total_rating|display_grade }}
				    {% else %}
				        Nicht genug Daten
				    {% endif %}
				    {% endwith %}
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}

