{% extends "base.html" %}
{% load i18n %} 


 
{% block content %}

                        

<div class="page">
    <h1>Meine Lehraufträge</h1>
         
    <div style="  float:left;">
    {% for ta in teaching_assignments %}
        <div class="ta-dashboard" >
            <h1>
                <a class="ta-subject" href="{% url "course-index" grade_id=ta.grade.id subject_id=ta.subject.id %}" title="{{ subject }} in der Klasse {{ grade }} öffnen">
                {{ ta.grade }} | {{ ta.subject }}</a>
            </h1>

            <div>{{ ta.get_participants|length }} SchülerInnen, {{ ta.audit_set.all|length }} Beobachtungen </div>
        </div>
    {% endfor %}
    </div>
    <div style="float:left; margin-left:22px; width:300px; color:#999; padding:22px; background: #f5f5f5; border:2px dashed #ACCCAB;">
        <h2 style="font-size:17px">Mein Aktivitätsindex:</h2>
        <span style="font-size:69px; color:#ACCCAB">{{ activity_index }}</span>
    </div>
    
</div>
{% endblock %}
        
