<!DOCTYPE html >
<html>{% load i18n %}
	<head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>{% block seo_page_title %}{% if seo_page_title %}{{ seo_page_title }}{% endif %}{% endblock %}</title>
        
        {% include "media_includes.html" %}
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <meta content="NONE,NOARCHIVE" name="robots">
        {% block extrahead %}{% endblock %}
	</head>
	
	<body class="{% block bodyclass %}{% endblock %} ">
           <div id="user-feedback">
                 {% for message in messages %}<div>{{ message }}</div> {% endfor %}
            </div>
            <div id="mainbar">
                
                <div id="user-tools">
                     <a title="Mein Account" href="{% url "myaccount" %}">Mein Account</a>
                     <a title="Logout" href="/teachers/logout/">Logout</a>
                    {% if teacher.is_staff %}<a title="Zur Administration" href="/admin/">Administration</a>{% endif %}
                </div>
                
                <div class="mainbar-tabs">
                    {% block tabs %}
                        <a id="logo" href="/"></a>
                        <span style="padding: 22px; display:block; color:#eee; font-size:17px; font-weight:bold; float:left;">{{ school }}</span>
                    {% endblock %}
                </div>
                 
                   
                <div class="clear"></div>
            </div>
       
            {% block content %}
            {% endblock %}
    </body>
    
    <script type="text/javascript">
    
        $('#user-feedback div').each(function() {
            $(this).hide('fade', 6000)            
        })
    
    
        /**var cls = ''
        if ($.browser.msie) {
            cls = 'ie' + parseInt($.browser.version) + ' ie'
        } else if ($.browser.mozilla) {
            cls = 'firefox'
        } else if ($.browser.webkit) {
            cls = 'chrome'
        }   
        $('body').addClass(cls)   **/
    </script>
</html>

{% comment %}
    <div style="float:right; width:200px; background:red">
                        <a title="Mein Account" href="{% url "myaccount" %}" id="myaccount"></a>
                        <a title="Hilfe" href="/" id="help"></a
                        <a title="Logout" href="/teachers/logout/" id="logout"></a>
                        {% if teacher.is_staff %}<a title="Zur Administration" href="/admin/" id="admin"></a>{% endif %}
                    </div>
{% endcomment %}
